@import "../css/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *:before,
  *:after {
    @apply cursor-default;
  }
  body {
    @apply bg-brand-background-100 selection:bg-brand-primary-200;
  }
}

@layer utilities {
  .service-card-background:nth-child(even) {
    @apply -mr-32 w-fit;
  }
  .service-card-background:nth-child(odd) {
    @apply -ml-32 w-fit;
  }

  .service-card-background:nth-child(even) .card-overlay:nth-child(odd) {
    @apply absolute flex flex-row-reverse -left-full -ml-36 xl:-ml-72 3xl:-ml-80 bottom-0;
  }
  .service-card-background:nth-child(even) .arrow-flip:nth-child(odd) {
    @apply transform -scale-x-100;
  }
  .service-card-background:nth-child(odd) .card-overlay:nth-child(odd) {
    @apply absolute flex flex-row -right-36 xl:-right-72 3xl:-right-64 bottom-0;
  }
  .button-bg {
    margin-left: 5px;
    margin-top: 4px;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, #fff, #fff 1px, #000 2px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(2deg);
    border: 0.5px solid black;
    border-radius: 1px;
  }

  .cursor {
    z-index: 90;
    display: flex;
    flex-direction: column;
    width: fit-content;
    overflow: hidden;
  }
  .cursor-r {
    display: flex;
  }
  .cursor-r-2 {
    position: relative;
  }
  .cursor-r-1-c-2 {
    width: 150%;
  }
  .cursor-r-1-c-1 {
    width: 150%;
  }
  .cursor-r-2-c-1 {
    width: 150%;
  }
  .cursor-r-2-c-2 {
    width: 150%;
  }

  .cursor-wrapper {
    z-index: 90;

    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    transition-timing-function: cubic-bezier(0, 0.425, 0, 0.99);
    animation-fill-mode: both;
  }
  .cursor-img {
    width: 250%;
  }
  @keyframes slidein-tl {
    0% {
      transform: translate(0%, 0%);
    }
    100% {
      transform: translate(-100%, -100%);
    }
  }
  @keyframes slidein-tr {
    0% {
      transform: translate(0%, 0%);
    }
    100% {
      transform: translate(100%, -100%);
    }
  }
  @keyframes slidein-bl {
    0% {
      transform: translate(0%, 0%);
    }
    100% {
      transform: translate(-100%, 100%);
    }
  }
  @keyframes slidein-br {
    0% {
      transform: translate(0%, 0%);
    }
    100% {
      transform: translate(100%, 100%);
    }
  }

  /************************
***Contact form styles***
*************************/
  .paper {
    position: absolute;
    height: 650px;
    width: 100%;
    z-index: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 5px 0px #888;
  }
  .paper::before {
    content: "";
    position: absolute;
    left: 115px;
    height: 100%;
    width: 2px;
    background: #877464;
  }
  .lines {
    margin-top: 120px;
    height: calc(70% - 45px);
    width: 100%;
    background-image: repeating-linear-gradient(
      white -10px,
      white 24px,
      #8db4e1b2 26px
    );
  }
  .text {
    position: absolute;
    top: 190px;
    left: 130px;
    bottom: 10px;
    right: 10px;
    line-height: 25px;
    overflow: hidden;
    outline: none;
  }

  @media only screen and (max-width: 476px) {
    /* For mobile phones: */
    .paper::before {
      content: "";
      position: absolute;
      left: 35px;
      height: 100%;
      width: 2px;
      background: #877464;
    }
    .text {
      position: absolute;
      top: 175px;
      left: 45px;
      bottom: 10px;
      right: 10px;
      line-height: 25px;
      overflow: hidden;
      outline: none;
    }
    .service-card-background:nth-child(even) {
      @apply -mr-0;
    }
    .service-card-background:nth-child(odd) {
      @apply -ml-0;
    }
  }
}
