/* Caveat-700 */
@font-face {
  font-family: "Caveat-700";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Caveat-Bold.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/Caveat-Bold.ttf?#iefix") format("truetype"),
    /* IE6-IE8 */ url("../fonts/Caveat-Bold.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/Caveat-Bold.ttf?#iefix") format("truetype"),
    /* Modern Browsers */ url("../fonts/Caveat-Bold.ttf?#iefix") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Caveat-Bold.ttf#Inter")
      format("svg"); /* Legacy iOS */
}
/* Caveat-600 */
@font-face {
  font-family: "Caveat-600";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Caveat-SemiBold.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/Caveat-SemiBold.ttf") format("truetype"),
    /* IE6-IE8 */ url("../fonts/Caveat-SemiBold.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/Caveat-SemiBold.ttf") format("truetype"),
    /* Modern Browsers */ url("../fonts/Caveat-SemiBold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Caveat-SemiBold.ttf")
      format("svg"); /* Legacy iOS */
}
/* Caveat-500 */
@font-face {
  font-family: "Caveat-500";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Caveat-Medium.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/Caveat-Medium.ttf") format("truetype"),
    /* IE6-IE8 */ url("../fonts/Caveat-Medium.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/Caveat-Medium.ttf") format("truetype"),
    /* Modern Browsers */ url("../fonts/Caveat-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Caveat-Medium.ttf")
      format("svg"); /* Legacy iOS */
}
/* Caveat-400 */
@font-face {
  font-family: "Caveat-400";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Caveat-Regular.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/Caveat-Regular.ttf") format("truetype"),
    /* IE6-IE8 */ url("../fonts/Caveat-Regular.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/Caveat-Regular.ttf") format("truetype"),
    /* Modern Browsers */ url("../fonts/Caveat-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Caveat-Regular.ttf")
      format("svg"); /* Legacy iOS */
}

/* Tanker-400 */
@font-face {
  font-family: "Tanker-400";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tanker-Regular.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/Tanker-Regular.ttf") format("truetype"),
    /* IE6-IE8 */ url("../fonts/Tanker-Regular.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/Tanker-Regular.ttf") format("truetype"),
    /* Modern Browsers */ url("../fonts/Tanker-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Tanker-Regular.ttf")
      format("svg"); /* Legacy iOS */
}

/* Clash Grotesk-500 */
@font-face {
  font-family: "ClashGrotesk-500";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ClashGrotesk-Medium.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ClashGrotesk-Medium.ttf") format("truetype"),
    /* IE6-IE8 */ url("../fonts/ClashGrotesk-Medium.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/ClashGrotesk-Medium.ttf") format("truetype"),
    /* Modern Browsers */ url("../fonts/ClashGrotesk-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/ClashGrotesk-Medium.ttf")
      format("svg"); /* Legacy iOS */
}
/* Clash Grotesk-600 */
@font-face {
  font-family: "ClashGrotesk-600";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ClashGrotesk-Bold.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ClashGrotesk-Bold.ttf") format("truetype"),
    /* IE6-IE8 */ url("../fonts/ClashGrotesk-Bold.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/ClashGrotesk-Bold.ttf") format("truetype"),
    /* Modern Browsers */ url("../fonts/ClashGrotesk-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/ClashGrotesk-Bold.ttf")
      format("svg"); /* Legacy iOS */
}

/* DMSans-400 */
@font-face {
  font-family: "DMSans-400";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DMSans-Regular.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/DMSans-Regular.ttf") format("truetype"),
    /* IE6-IE8 */ url("../fonts/DMSans-Regular.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/DMSans-Regular.ttf") format("truetype"),
    /* Modern Browsers */ url("../fonts/DMSans-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/DMSans-Regular.ttf")
      format("svg"); /* Legacy iOS */
}
/* DMSans-500 */
@font-face {
  font-family: "DMSans-500";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/DMSans-Medium.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/DMSans-Medium.ttf") format("truetype"),
    /* IE6-IE8 */ url("../fonts/DMSans-Medium.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/DMSans-Medium.ttf") format("truetype"),
    /* Modern Browsers */ url("../fonts/DMSans-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/DMSans-Medium.ttf")
      format("svg"); /* Legacy iOS */
}
/* DMSans-700 */
@font-face {
  font-family: "DMSans-700";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DMSans-Bold.ttf"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/DMSans-Bold.ttf") format("truetype"),
    /* IE6-IE8 */ url("../fonts/DMSans-Bold.ttf") format("ttf"),
    /* Super Modern Browsers */ url("../fonts/DMSans-Bold.ttf") format("truetype"),
    /* Modern Browsers */ url("../fonts/DMSans-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/DMSans-Bold.ttf")
      format("svg"); /* Legacy iOS */
}



